/*Digital Drumming Visualizer

Based on a project focused on exploring the dynamics of Steve Reich's Drumming
https://maplelab.net/reich

MAPLE Lab, McMaster

Written by Kyle Gauder
Git Repo: https://github.com/MAPLE-Lab/DigitalDrumming

Styling for graph
*/

#graphDisplay {
    width: 480px;
    height: 400px;
    left: 400px;
    top: 65px;
    position: absolute;
}

#axisContainer {
    width: 100%;
    height: 100%;
}

.axis {
    position: absolute;
    border: 1px solid #000;
    bottom: 40px;
    left: 45px;
}

#xAxis {
    width: 85%;
}

#yAxis {
    height: 350px;
}

.yAxisTick {
    width: 7px;
    position: absolute;
    border: 1px solid #000;
    bottom: 5px;
    right: -1px;
    cursor: pointer;
}
.yAxisTick:before {
    content: "";
    position: absolute;
    border: 1px solid transparent;
    border-top: 2.5px solid transparent;
    border-left: 8px solid transparent;
    left: -1px;
    top: 1px;
}
.yAxisTickMinor {
    width: 3px;
    position: absolute;
    border: 1px solid #000;
    bottom: 5px;
    right: -1px;
    cursor: pointer;
}
.yAxisTickMinor:before {
    content: "";
    position: absolute;
    border: 1px solid transparent;
    border-top: 2.5px solid transparent;
    border-left: 4px solid transparent;
    left: -1px;
    top: 1px;
}

#yAxisname {
    position: absolute;
    width: 130px;
    transform: rotate(-90deg);
    top: 140px;
    right: -22px;
}
.yAxisLabel {
    position: absolute;
    left: -20px;
    top: -9px;
}

.xAxisTick {
    height: 6px;
    position: absolute;
    border: 1px solid #000;
}

.xAxisLabel {
    position: absolute;
    top: 8px;
    left: -12px;
}

.xAxisGridline {
    position: absolute;
    height: 350px;
    bottom: 8px;
    left: -1px;
    border: 1px solid #c5c5c5;
}

#xGridline1 {
    border: 1px solid #aaa;
}

#dataContainer {
    left: 45px;
    position: absolute;
    bottom: 39px;
}

.datum {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    opacity: 1;
    z-index: 2;
}

.datumD2 {
    border: 1px solid green;
}

.datumD1 {
    border: 1px solid blue;
}

.datumBackground {
    opacity: 0.3;
    z-index: 1;
}
.currentDatum {
    background-color: black;
}

.datumGraphFolder {
    top: -3px;
    height: 72px;
    width: 100px;
    left: -150px;
    opacity: 1;
    background-color: gray;
    box-shadow: 3px 3px 8px #000;
    padding: 5px 5px 3px 5px;
    border-radius: 5px;
    z-index: 100;
    position: absolute;
    display: none;
    color: #FFFFFF;
    text-align: center;
    cursor: auto;
    font-family: "Times New Roman", Times, serif;
}

.tickHover {
    box-shadow: 0 0 5px red;
}

.tickTooltip {
    background: grey;
    position: relative;
    -moz-border-radius:    8px;
    -webkit-border-radius: 8px;
    border-radius:         8px;
    display: none;
    position: absolute;
    /*border: 1px solid black;*/
    right: 9px;
    bottom: -10px;
    width: 27px;
    height: 20px;
    color: white;
    text-align: center;
}
.tickTooltip:after {
    content: "";
    position: absolute;
    left: 91%;
    top: 5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 8px solid grey;
    border-bottom: 5px solid transparent;
}


.currentYTick {
    border: 1px solid red;
}