#graphDisplay {
    width: 480px;
    height: 400px;
    left: 400px;
    top: 65px;
    position: absolute;
}
#axisContainer {
    width: 100%;
    height: 100%;
}
.axis {
    position: absolute;
    border: 1px solid black;
    bottom: 40px;
    left: 45px;
}
#xAxis {
    width: 85%;
}
#yAxis {
    height: 350px;
}
.yAxisTick {
    width: 6px;
    position: absolute;
    border:1px solid black;
    bottom: 5px;
    left:-7px;
}
.yAxisLabel {
    position: absolute;
    left: -20px;
    top: -9px;
}
.xAxisTick {
    height: 6px;
    position: absolute;
    border:1px solid black;
}
.xAxisLabel {
    position: absolute;
    top: 8px;
    left: -12px;
}
.xAxisGridline {
    position:absolute;
    height:350px;
    bottom: 8px;
    left: -1px;
    border:1px solid #c5c5c5;
}
#xGridline1 {
    border:1px solid #aaaaaa;
}
#dataContainer {
    left: 45px;
    position: absolute;
    bottom: 39px;
}
.datum {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
}
.datumD2 {
    border: 1px solid green;
}
.datumD1 {
    border: 1px solid blue;
}

