/*Digital Drumming Visualizer

Based on a project focused on exploring the dynamics of Steve Reich's Drumming
https://maplelab.net/reich

MAPLE Lab, McMaster

Written by Kyle Gauder
Git Repo: https://github.com/MAPLE-Lab/DigitalDrumming

Styling for main layout and menu items
*/

#mainDisplay {
    width: 900px;
    height: 600px;
    border: 1px solid #000;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    background-color: #d3d3d3;
}

#circleContainer {
    width: 400px;
    height: 400px;
}

#speedSlider {
    width: 6px;
    left: 25px;
    height: 165px;
    position: absolute;
}

.Toggle {
    width: 15px;
    height: 30px;
    border-radius: 5px;
    background: gray;
    position: relative;
    z-index: 10;
    cursor: pointer;
    box-shadow: 1px 1px 5px #000;
}

.ToggleDot {
    background: #d3d3d3;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: 2px;
    top: 3px;
    position: absolute;
    border: 1px solid #000;
}

#menuBttnContainer {
    width: 200px;
    left: 112px;
    bottom: 185px;
    position: relative;
}

.bttn {
    width: 30px;
    height: 25px;
    border: 1px solid #000;
    position: relative;
    background-color: grey;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    font-size: 14px;
    float: left;
    color: #000 !important;
    z-index: 10;
}

#resetBttn {
    border-radius: 5px;
    left: -20px;
    font-size: 12px;
    width: 40px;
}

#revBttn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://maplelab.net/tools/DigitalDrumming/assets/rewindButton.png');
}

#pauseBttn {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://maplelab.net/tools/DigitalDrumming/assets/pauseButton.png');
}

#playBttn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://maplelab.net/tools/DigitalDrumming/assets/playButton.png');
}

#dataToggle {
    left: 139px;
    width: 80px;
    bottom: 185px;
    position: relative;
}

#playButton {
    background-color: #00efff;
}

#plotAllBttn {
    left: 533px;
    bottom: 88px;
    border-radius: 5px;
    width: 40px;
}


#dataSelectContainer {
    position: relative;
    left: 515px;
    bottom: 88px;
    z-index: 5;
}

.selectbttn {
    width: 30px;
}

#togglesContainer {
    position: relative;
    left: 80px;
}

.toggleLabel {
    right: 37px;
    top: 23px;
    position: relative;
    font-size: 12px;
}
#gridToggleContainer {
    position: relative;
    bottom: 9px;
}
#audioToggleContainer {
    position: relative;
    bottom: 29px;
}

#audioToggleLabel {
    font-size: 16px;
    top: 27px;
    right: 26px;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://maplelab.net/tools/DigitalDrumming/assets/speakerPlay.png');

}
#cycleDisplay {
    position: absolute;
    left: 21%;
    top: 31%;
    z-index: 10;
    font-size: 30px;
}

.buttonClicked {
    box-shadow: inset 0 0 7px 0 red;
}

.hovered {
    box-shadow: 0 0 7px 0 #000;
}

#speed {
    border: 0;
    color: gray;
    font-weight: 700;
    width: 30px;
}

#sliderDisplay {
    top: -15px;
    left: 5px;
    position: relative;
}

.ui-slider-vertical .ui-slider-handle {
    width: 16px;
    left: -0.4em;
    height: 10px;
    background: gray;
    margin-bottom: -0.4em;
}

#alignmentDisplay {
    position: relative;
    bottom: 150px;
    right: 165px;
}

#alignmentInput {
    width: 30px;
}
label {
    font-size: 12px;
}

.dataHover {
    box-shadow: 0px 0px 5px red;
}

#comparisonDisplay {
    position: relative;
    bottom: 121px;
    height: 120px;
    left: 125px;
    width: 218px;
    border: 1px solid black;
    font-size: 14px;
}
#slot1 {
    float:left;
    width:50%;
}

#slot2 {
    float:right;
    width: 50%
}

#comparison {
    position:relative;
    float: left;
    top: 15px;
}

.compLabel {
    text-align: right;
    clear: both;
    float: left;
    margin-right: 5px;
}