/*Digital Drumming Visualizer

Based on a project focused on exploring the dynamics of Steve Reich's Drumming
https://maplelab.net/reich

MAPLE Lab, McMaster

Written by Kyle Gauder
Git Repo: https://github.com/MAPLE-Lab/DigitalDrumming

Styling for main layout and menu items
*/

#mainDisplay {
    width: 900px;
    height: 600px;
    border: 1px solid #000;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    background-color: #d3d3d3;
}

#circleContainer {
    width: 400px;
    height: 400px;
}

#speedSlider {
    width: 6px;
    left: 25px;
    height: 165px;
    position: absolute;
}

.Toggle {
    width: 15px;
    height: 30px;
    border-radius: 5px;
    background: gray;
    position: relative;
    z-index: 10;
    cursor: pointer;
    box-shadow: 1px 1px 5px #000;
    top: 37px;
    left: 50px;
}

.ToggleDot {
    background: #d3d3d3;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: 2px;
    top: 3px;
    position: absolute;
    border: 1px solid #000;
}

#menuBttnContainer {
    width: 200px;
    left: 100px;
    position: relative;
}

.bttn {
    top: 10px;
    width: 40px;
    height: 25px;
    border: 1px solid #000;
    position: relative;
    background-color: grey;
    cursor: pointer;
    text-align: center;
    float: left;
    color: #000 !important;
}

#dataToggle {
    left: 175px;
    width: 100px;
    position: relative;
}

#playButton {
    background-color: #00efff;
}

#cycleDisplay {
    position: absolute;
    left: 21%;
    top: 31%;
    z-index: 10;
    font-size: 30px;
}

.buttonClicked {
    box-shadow: inset 0 0 7px 0 red;
}

.hovered {
    box-shadow: 0 0 7px 0 #000;
}

#speed {
    border: 0;
    color: gray;
    font-weight: 700;
    width: 30px;
}

#sliderDisplay {
    top: -15px;
    position: relative;
}

.ui-slider-vertical .ui-slider-handle {
    width: 16px;
    left: -0.4em;
    height: 6px;
    background: gray;
    margin-bottom: -0.2em;
}

#alignmentDisplay {
    position: relative;
    top: 50px;
    left: -100px;
}

#alignmentInput {
    width: 30px;
}

#dataSelectContainer {
    position: relative;
    left: 210px;
}

.dataHover {
    box-shadow: 0px 0px 5px red;
}